@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* || GENERAL STYLES */

body {
    min-height: 100vh;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: hsla(219, 15%, 55%, 0.37);  
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.main__sec {
    width: 250px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 20px 15px hsla(0, 0%, 0%, 0.062);
}

.main__sec img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 9px;  
}

.main__article {
    text-align: center;
    margin: 10px 2px;
    display: flex;
    flex-flow: column;
    justify-content: justify;
    align-items: center;
    gap: 0.75rem;
}

.main__article h3{
    font-size: 1em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.main__article p {
    font-size: 0.7em;
    font-weight: 400;
    color:hsla(217, 45%, 22%, 0.575);
}
